parameters:
	ignoreErrors:
		-
			message: "#^Offset numeric\\-string does not exist on string\\.$#"
			count: 1
			path: src/Context.php

		-
			message: "#^Instanceof between mixed and DOMNodeList will always evaluate to false\\.$#"
			count: 1
			path: src/RepeatController.php

